# Escludi la cartella target
target/

# Escludi la cartella logs
logs/

# Escludi file di log specifici se non sono in una cartella
*.log
# Ignora la cartella target generata da Maven
target/

application.properties